[submodule "00_lab"]
	path = 00_lab
	url = https://github.com/NE204-Fall2018/wjvanderlip_lab0.git
[submodule "1_lab"]
	path = 1_lab
	url = https://github.com/NE204-Fall2018/wjvanderlip-lab1.git
[submodule "01_lab"]
	path = 01_lab
	url = https://github.com/NE204-Fall2018/wjvanderlip-lab1.git
[submodule "02_lab"]
	path = 02_lab
	url = https://github.com/NE204-Fall2018/wjvanderlip-lab2.git
[submodule "03_lab"]
	path = 03_lab
	url = https://github.com/NE204-Fall2018/wjvanderlip-lab3.git
